@import "tailwindcss";


@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/SF-Pro-Text-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/SF-Pro-Text-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Glancyr';
  src: url('/fonts/_Glancyr-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Glancyr';
  src: url('/fonts/_Glancyr-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --black: #0B0C0C;
  --blue: #0073BA;
  --white: #F8FAFB;
  --orange: #F6821F;
  --main-blue: #001F3F;
  --gray: #8E8E8E;
  --cream: #F0E9CD;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

/* File: index.css */
.hero-bg-isometric {
  background-color: var(--main-blue);
  /* Membuat 3 lapis gradien linear untuk membentuk grid isometrik */
  background-image:
    linear-gradient(60deg, rgba(0, 115, 186, 0.15) 1px, transparent 1px),
    linear-gradient(-60deg, rgba(0, 115, 186, 0.15) 1px, transparent 1px),
    linear-gradient(180deg, rgba(0, 115, 186, 0.15) 1px, transparent 1px);
  background-size: 50px 86px; /* Ukuran grid */
  animation: pan-grid 30s linear infinite; /* Menambahkan animasi gerakan */
}

/* Animasi untuk menggeser posisi background secara perlahan */
@keyframes pan-grid {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100px 172px; /* Menggeser sejauh 2x ukuran grid agar mulus */
  }
}